<%= form_with(model: [:admins, employee]) do |form| %>
  <% if employee.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

    <ul>
      <% employee.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field">
    <%= form.label :email %></br>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :number_of_available_kudos %></br>
    <%= form.number_field :number_of_available_kudos %>
  </div>

  <div class="field">
    <%= form.label :password %>(empty for no changes)</br>
    <%= form.password_field :password, value: nil %>
  </div></br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>