<div id="table">
  <table>
    <h1 id="tabletitle">Employees</h1>
    <thead>
      <tr id="tablehead">
        <th>ID</th>
        <th>Email</th>
        <th>Available kudos</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.id %></td>
          <td><%= employee.email %></td>
          <td><%= employee.number_of_available_kudos %></td>
          <td><%= link_to 'Edit',  edit_admins_employee_path(employee) %></td>
          <td><%= link_to 'Destroy', [:admins, employee], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
