<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @employee.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Number of available kudos:</strong>
  <%= @employee.email %>
</p>
<%= link_to 'Back', admins_employees_path %>
