<!DOCTYPE html>
<html>
  <head>
    <title>Employee Recognition Platform</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <h1><%= link_to "Company", root_path %></h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <nav>
    <h4>Navigation</h4>
      <ul>
        <li><%= link_to 'Sign out', destroy_admin_session_path, method: :delete %></li></br>
        <% if request.path != admins_root_path %>
          <li><%= link_to 'Admin panel', admins_root_path %></li>
        <% end %>
        <% if request.path != admins_kudos_path %>
          <li><%= link_to 'Kudos', admins_kudos_path %></li>
        <% end %>
        <% if request.path != admins_employees_path %>
          <li><%= link_to 'Employees', admins_employees_path %></li>
        <% end %>
        <% if request.path != admins_company_values_path %>
          <li><%= link_to 'Company Values', admins_company_values_path %></li>
        <% end %>
        <% if request.path != admins_rewards_path %>
          <li><%= link_to 'Rewards', admins_rewards_path %></li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
